<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>C7A1704E-9130-4D09-B7C1-5EED48C5C671</string>
	<key>SDK</key>
	<string>iPhoneOS15.6.sdk</string>
</dict>
</plist>