<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>88682405-0186-4020-A405-9BEB8735E0B5</string>
	<key>SDK</key>
	<string>iPhoneOS15.6.sdk</string>
</dict>
</plist>
